doctype html
html
    head
        meta(charset='utf-8')
        script(type='text/javascript', src='public/projects/CV/js/jquery-1.11.3.js')
        script(type='text/javascript', src='public/projects/CV/js/jquery-ui.min.js')
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
        script(type='text/javascript', src='public/projects/CV/js/script.js')
        script(type='text/javascript', src='public/projects/CV/js/pageJeu.js')

        link(href='https://fonts.googleapis.com/css?family=Architects+Daughter', rel='stylesheet', type='text/css')
        title Julian NOYON Développeur intégrateur web Javascript Fullstack
    body
        h1(style='position:absolute; left:-600px') Julian NOYON
        header

            ul
                li

                    a(href='Index.html', target='_self')
                        img#controller(src='public/projects/CV/imgJeu/controller.png', alt='manette')
                    .menu
                        p Cv Jeu
                li
                    a(href='CV.pdf', target='_blank')
                        img#star(src='public/projects/CV/imgJeu/star.png', alt='etoile')
                    .menu
                        p MON CV
                li
                    a(href='myself.html', target='_self')
                        img#heart(src='public/projects/CV/imgJeu/heart.png', alt='coeur')
                    .menu
                        p Qui suis-je?
                li
                    a(href='contact.html', target='_self')
                        img#backPanel(src='public/projects/CV/imgJeu/back.gif', alt='panneau')
                    .menu
                        p Contact
        a(href="/") Retour
        // *****************************************************Instruction*************************************************
        #instruction
            #name
                span(style='color:#ff0000;')
                span(style='color:#ff0400;')
                span(style='color:#ff0800;')
                span(style='color:#ff0d00;')
                span(style='color:#ff1100;')
                span(style='color:#ff1500;')
                span(style='color:#ff1900;')
                span(style='color:#ff1d00;')
                span(style='color:#fe2100;')
                span(style='color:#fe2600;')
                span(style='color:#fe2a00;')
                span(style='color:#fe2e00;')
                span(style='color:#fe3200;')
                span(style='color:#fe3600;')
                span(style='color:#fe3b00;')
                span(style='color:#fe3f00;')
                span(style='color:#fe4300;')
                span(style='color:#fe4700;')
                span(style='color:#fe4b00;') J
                span(style='color:#fe4f00;') u
                span(style='color:#fe5400;') l
                span(style='color:#fe5800;') i
                span(style='color:#fe5c00;') a
                span(style='color:#fd6000;') n
                span(style='color:#fd6400;')
                span(style='color:#fd6900;') N
                span(style='color:#fd6d00;') O
                span(style='color:#fd7100;') Y
                span(style='color:#fd7500;') O
                span(style='color:#fd7900;') N
                span(style='color:#fd7d00;')
            div
                span(style='color:#fd8200;')
                span(style='color:#fd8600;')
                span(style='color:#fd8a00;')
                span(style='color:#fd8e00;')
                span(style='color:#fd9200;')
                span(style='color:#fd9600;')
                span(style='color:#fd9b00;')
                span(style='color:#fd9f00;') D
                span(style='color:#fca300;') e
                span(style='color:#fca700;') v
                span(style='color:#fcab00;') e
                span(style='color:#fcb000;') l
                span(style='color:#fcb400;') o
                span(style='color:#fcb800;') p
                span(style='color:#fcbc00;') p
                span(style='color:#fcc000;') e
                span(style='color:#fcc400;') u
                span(style='color:#fcc900;') r
                span(style='color:#fccd00;')
                span(style='color:#fcd100;') w
                span(style='color:#fcd500;') e
                span(style='color:#fcd900;') b
                span(style='color:#fcde00;')
                span(style='color:#fbe200;') J
                span(style='color:#fbe600;') a
                span(style='color:#fbea00;') v
                span(style='color:#fbee00;') a
                span(style='color:#fbf200;') S
                span(style='color:#fbf700;') c
                span(style='color:#fbfb00;') r
                span(style='color:#fbff00;') i
                span(style='color:#f7ff00;') p
                span(style='color:#f4fe00;') t
                span(style='color:#f0fe00;')
                span(style='color:#edfd00;') F
                span(style='color:#e9fd00;') u
                span(style='color:#e6fc00;') l
                span(style='color:#e2fc00;') l
                span(style='color:#dffc00;') s
                span(style='color:#dbfb00;') t
                span(style='color:#d8fb00;') a
                span(style='color:#d4fa01;') c
                span(style='color:#d1fa01;') k
            div
                span(style='color:#cdf901;') R
                span(style='color:#caf901;') e
                span(style='color:#c6f901;') c
                span(style='color:#c3f801;') o
                span(style='color:#bff801;') l
                span(style='color:#bcf701;') t
                span(style='color:#b8f701;') e
                span(style='color:#b5f601;') z
                span(style='color:#b1f601;')
                span(style='color:#aef601;') 9
                span(style='color:#aaf501;')
                span(style='color:#a7f501;') p
                span(style='color:#a3f401;') i
                span(style='color:#a0f401;') e
                span(style='color:#9cf301;') c
                span(style='color:#99f301;') e
                span(style='color:#95f301;') s
                span(style='color:#92f201;')
                span(style='color:#8ef202;') d
                span(style='color:#8bf102;') '
                span(style='color:#87f102;') o
                span(style='color:#84f102;') r
                span(style='color:#80f002;')
                span(style='color:#7df002;') a
                span(style='color:#79ef02;') f
                span(style='color:#76ef02;') i
                span(style='color:#72ee02;') n
                span(style='color:#6fee02;')
                span(style='color:#6bee02;') d
                span(style='color:#68ed02;') '
                span(style='color:#64ed02;') a
                span(style='color:#61ec02;') c
                span(style='color:#5dec02;') c
                span(style='color:#5aeb02;') e
                span(style='color:#56eb02;') d
                span(style='color:#53eb02;') e
                span(style='color:#4fea02;') r
                span(style='color:#4cea02;')
                span(style='color:#48e903;') à
                span(style='color:#45e903;')
                span(style='color:#41e803;') m
                span(style='color:#3ee803;') o
                span(style='color:#3ae803;') n
                span(style='color:#37e703;')
                span(style='color:#33e703;') c
                span(style='color:#30e603;') v
                span(style='color:#2ce603;')
                span(style='color:#29e503;') !
                span(style='color:#25e503;') !
        // *****************************************************Cadre de jeu*************************************************
        #cadreJeu
            ul#presentation
                li
                    img#startGame(src='public/projects/CV/imgJeu/realExotic.png', alt='Entete')
                li
                    input#playGame(type='image', src='public/projects/CV/imgJeu/PLAY.png', alt='Submit')
                li
                    input#creditsGame(type='image', src='public/projects/CV/imgJeu/CREDITS.png', alt='Submit')
                li
                    input#controlesGame(type='image', src='public/projects/CV/imgJeu/controles1.png', alt='Submit')
            #retour
                img(src='imgJeu/retour.png', style='height:40px; width:160px', alt='retour')
            #score(style='font-family:Tropicana;color:gold')
            #nextComp(style='font-family:Tropicana; color:red')
            #masque
                img#monPerso(src='imgJeu/test3Ll.gif', alt='monPerso')
